<picture>
	<a href="../../assets/images/gallery/images/gallery-14.jpeg" title="" style="float:left">
		<img src="../../assets/images/gallery/images/thumbnails/gallery14-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
	
</picture>
<picture>
	<a href="../../gallery/images/gallery-15.jpeg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery15-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>
<picture>
	<a href="../../gallery/images/gallery-16.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery16-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>
<picture>
	<a href="../../gallery/images/gallery-17.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery17-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>
<picture>
	<a href="../../gallery/images/gallery-18.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery18-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>
<picture>
	<a href="../../gallery/images/gallery-0.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery0-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-2.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery2-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-1.jpg"  title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery1-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>
		
<picture>
	<a href="../../gallery/images/gallery-5.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery5-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-6.jpg"  title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery6-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-7.jpg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery7-thumb.jpg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-10.jpeg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery10-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-11.jpeg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery11-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>

<picture>
	<a href="../../gallery/images/gallery-12.jpeg" title="" style="float:left">
		<img src="../../gallery/images/thumbnails/gallery12-thumb.jpeg" width="200px" height="200px" alt="" class="thumbnail">
	</a>
</picture>