<% provide(:title, "Quem Somos") %>

            <figure><%=image_tag("logo.jpg", class: "logo-img")%></figure>

            <p>
            A Rede Preparatória para Concursos D&D teve início de suas atividades na cidade de Barra do Garças-MT. 
            Inicialmente o projeto foi desenvolvido para atender aos amigos que queriam também serem aprovados em concursos públicos, 
            haja vista já ocorria aulas particulares e ensinamentos esparsos a alunos.
            </p>
            <p>
            Nesse sentido, decidiu-se então na abertura de uma turma para abranger ao pedido dos amigos e também trazendo professores 
            especializados em cada área do saber, para melhorar o aprendizado e potencializar a preparação dos alunos. 
            </p>
            <p> 
            Contudo, pela qualidade do Ensino e pela quantidade de amigos interessados o curso que era pra ser apenas entre amigos, 
            cresceu. Sendo a tal ponto que foi necessário a ampliação deste PROJETO para outras cidades, bem como aberturas de mais
            turmas no município de Barra do Garças-MT.
            </p>
            <p>
            A Rede D&D tem como foco inicial a preparação para concursos nas carreiras policiais com ênfase para PJC\ MT, PM\ MT , 
            PRF e PF. Com aulas presenciais e planos de estudos especializados e com método de Ensino individualizado.
            </p>
            <p>
            Por derradeiro, a rede conta com mais turmas em Água Boa, Confresa e com iniciação de abertura de outras em diversas 
            cidade do Estado do Mato Grosso e algumas em Goiás. E para que esse PROJETO se torne grande busca-se parceria com entidades públicas
            e privadas de Ensino no tocante ao enriquecimento de ideias formadas pela educação.
            </p>
