    
<% if !@questoes.empty?%>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Questao</th>
                                    <th>Banco</th>
                                </tr>
                            </thead>
                            <% @questoes.each do |questao| %>
                                <tr>
                                    <td><%=  questao.id %></td>
                                    <td><%= link_to raw(questao.questao), questao_path(questao.id, :db => questao.questionario.id ) %></td>
                                    <td><%= link_to questao.questionario.titulo, questionario_path(questao.questionario.id) %></td>
                                </tr>
                            <% end %>
                        </table>	
                    </div>
                </div>
            <% end %>
</div>
