<% provide(:title, "Editar Concurso") %>
<div class="panel panel-default">
			<div class="panel-body">
                            <%= render 'form' %>
			</div>
		</div>
</div>
<%= link_to 'Voltar', noticias_path %>
