<% provide(:title, @user.nome) %>

		<aside class="user_info col-md-4">
			<section class="user_info">
				<h1>
				  <%= @user.nome %>
				</h1>
			</section>
		</aside>

	<%= render 'shared/sidemenu'%>
