<% provide(:title, "Nova Alternativa") %>
<div class="container">
	
	<h3><span class="badge badge-default">Nova Alternativa</span></h3>
	
	<%= render 'shared/adm_sidemenu' %>
	
	<div class="content">
		<%= render 'form' %>
	</div>
	
</div>
