<footer class="footer">
  <small>
    D&D Escola Preparatória para Concursos @Copyright 2016-2017 
   <br />Developed by <a href="#">Renan Diego</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quem Somos", quemsomos_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</footer>