<div class="container-fluid">    
    <div class="row">
        <div class="card-home col-sm-3" id="card-home-cursos">
            <center>
                <%= link_to image_tag('icons/cursos.png'), cursos_path%>
                <br/>Cursos
            </center>
        </div>
        <div class="card-home col-sm-3" id="card-home-concursos">
            <center>
                <%= link_to image_tag('icons/concursos.png'), noticias_path%>
                <br/>Concursos
            </center>
        </div>
        <div class="card-home col-sm-3" id="card-home-video-aulas">
            <center>
                <%=link_to image_tag('icons/video-aulas.png')%>
                <br/>Video-aulas
            </center>
        </div>
        <div class="card-home col-sm-3" id="card-home-questoes">
            <center>
                <%= link_to image_tag('icons/questoes.png'), questionarios_path%>
                <br/>Banco de Questões
            </center>
        </div>
    </div>
</div>